extends ../../components/base/base

block content
    main.home
        section.sc-1#about
            div.sc-1__wrap
                div.sc-1__info
                    h1.sc-1__title Another way
                        br
                        | to your mental health
                        br
                        | and motivation
                    h2.sc-1__subtitle Improve yourself while sleeping with affirmations

                    div.sc-1__watch-video
                        a(href="javascript:void(0)" data-toggle="modal" data-target="#video").btn Watch video

                    a(href="https://itunes.apple.com/app/id1274009022" target="_blank").sc-1__app-btn
                        img(src=require('./assets/sc1/app_store_cta.svg'))

                div.sc-1__app.device
                    div.device__phone
                        img(src=require('./assets/X-phone-animation.png'))
                        div.device__animation
                            div.device__ring.device__ring-1 1
                            div.device__ring.device__ring-2
                            div.device__ring.device__ring-3
                            a(href="javascript:void(0)" data-toggle="modal" data-target="#video").device__ring.device__play
                                    img.play(src=require('./assets/play-2.svg'))
                                    img.watch(src=require('./assets/WATCH.svg'))
                                    img.video(src=require('./assets/VIDEO.svg'))
                    div.device__watch
        section.sc-2#how_it_work
            div.sc-2__wrap
                div.sc-2__title How it works?
                    div.sc-2__title-img
                        img(src=require('./assets/sc2/health.svg'))
                p.sc-2__desc Recent somnology studies confirm that a person is able to perceive information in certain sleep phases to infix existing knowledge. Based on these studies, we have created an algorithm that will help you improve your mental health and increase motivation. Hypnopedia uses Apple Watch sensors to determine the correct phase of sleep for playing affirmations. After a productive sleep the smart alarm clock will wake you up at the most convenient time before the set wake-up time
                p.sc-2__action
                    a(href="https://itunes.apple.com/app/id1274009022" target="_blank").btn Try for free
                ul.sc-2__steps
                    li.sc-2__step-item
                        img(src=require('./assets/sc2/install-v1.svg?2')).sc-2__step-icon
                        div.sc-2__step-title Install
                        div.sc-2__step-desc
                            | and launch
                            br
                            | the application
                    li.sc-2__step-item
                        img(src=require('./assets/sc2/choose-v1.svg?2')).sc-2__step-icon
                        div.sc-2__step-title Choose
                        div.sc-2__step-desc
                            | affirmations and set
                            br
                            | the alarm time
                    li.sc-2__step-item
                        img(src=require('./assets/sc2/sync-v1.svg?2')).sc-2__step-icon
                        div.sc-2__step-title Synchronize
                        div.sc-2__step-desc
                            | with Apple Watch
                            br
                            | to invoke its sensors
                    li.sc-2__step-item
                        img(src=require('./assets/sc2/night-v1.svg?2')).sc-2__step-icon
                        div.sc-2__step-title Nighty-night!
                        div.sc-2__step-desc
                            | Our algorithm will take care
                            br
                            | of you during sleep
        section.sc-3#features
            div.sc-3__wrap
                div.sc-3__title Main features
                div.sc-3__features
                    div.sc-3__feature
                        img(src=require('./assets/sc3/1.jpg')).sc-3__feature-cover
                        div.sc-3__feature-info
                            div.sc-3__feature-title HYPNOPEDIA
                            div.sc-3__feature-desc
                                | Unique algorithms
                                br
                                | based on recent
                                br
                                | sleep studies
                    div.sc-3__feature
                        img(src=require('./assets/sc3/2.jpg')).sc-3__feature-cover
                        div.sc-3__feature-info
                            div.sc-3__feature-title SMART-ALARM
                            div.sc-3__feature-desc
                                | Built-in Smart Alarm
                                br
                                | wakes you at the most
                                br
                                | convenient moment
                                br
                                | of your sleep
                    div.sc-3__feature
                        img(src=require('./assets/sc3/3.jpg')).sc-3__feature-cover
                        div.sc-3__feature-info
                            div.sc-3__feature-title 360-DEGREE ASMR
                            div.sc-3__feature-desc
                                | ASMR sounds with
                                br
                                | 3D effect for deep
                                br
                                | relaxation and meditation
                    div.sc-3__feature
                        img(src=require('./assets/sc3/4.jpg')).sc-3__feature-cover
                        div.sc-3__feature-info
                            div.sc-3__feature-title STATISTICS
                            div.sc-3__feature-desc
                                | Your personal
                                br
                                | summary data
                div.sc-3__action
                    a(href="https://itunes.apple.com/app/id1274009022" target="_blank").btn Try for free
        section.sc-4#science
            div.sc-4__wrap
                div.sc-4__sciences.science
                    div.science__h Science
                    div.science__list
                        div.science__item
                            div.science__title Nature Communications
                            div.science__desc Implicit memory for words heard during sleep
                                a(href="https://www.nature.com/articles/s41467-017-00071-z" target="_blank").science__btn read more  &raquo;


                        div.science__item
                            div.science__title Oxford academic
                            div.science__desc Formation and suppression of acoustic memories during human sleep
                                a(href="https://academic.oup.com/nc/article/2016/1/niw014/2757134" target="_blank").science__btn read more  &raquo;

                        div.science__item
                            div.science__title ScienceDirect
                            div.science__desc Inducing task-relevant responses to speech in the sleeping brain
                                a(href="https://www.sciencedirect.com/science/article/pii/S0960982214009944" target="_blank").science__btn read more  &raquo;

                        div.science__item
                            div.science__title ResearchGate
                            div.science__desc The cessation of rumination through selfaffirmation
                                a(href="https://www.sciencedirect.com/science/article/pii/S0960982214009944" target="_blank").science__btn read more  &raquo;

                        div.science__item
                            div.science__title The National Center for Biotechnology Information
                            div.science__desc Self-affirmation alters the brain’s response to health messages and subsequent behavior change
                                a(href="https://www.sciencedirect.com/science/article/pii/S0960982214009944" target="_blank").science__btn read more  &raquo;

                div.sc-4__doctor.doctor
                    div.doctor__md
                        div.doctor__cover
                        div.doctor__name Andrew Sokol
                        div.doctor__position CEO
                        div.doctor__role Brain Geek, Associate Professor, MD, PhD Belarusian state medical university
                    div.doctor__quotes
                        div.doctor__quote
                            div.doctor__quote-text “Dreams are the royal road to the unconscious.”
                            div.doctor__quote-author S. Freud
                        div.doctor__quote
                            div.doctor__quote-text “It would be a regrettable omission to go around.”
                            div.doctor__quote-author A. Sokol

        section.sc-5#faq
            div.sc-5__wrap
                div.sc-5__title FAQ
                div.sc-5__accordion
                    div.sc-5__accordion-item
                        div.sc-5__accordion-head
                            div.sc-5__accordion-title What is necessary to work with Hypnopedia?
                            i.icon-Polygon-1
                        div.sc-5__accordion-description You will need an iPhone, Apple Watch and an application installed from the App Store. Apple Watch synchronizes with your smartphone and transfers the user's biological parameters to it.

                    div.sc-5__accordion-item
                        div.sc-5__accordion-head
                            div.sc-5__accordion-title Which iPhone / Apple Watch models are compatible?
                            i.icon-Polygon-1
                        div.sc-5__accordion-description Hypnopedia supports iPhones 6 and later, as well as all Apple Watch / iPod touch models, with iOS 11 / watchOS 5.0 and later.

                    div.sc-5__accordion-item
                        div.sc-5__accordion-head
                            div.sc-5__accordion-title How much of battery charge does the app consume?
                            i.icon-Polygon-1
                        div.sc-5__accordion-description Depending on the model and condition of the battery, as well as the duration of sleep, the consumption per night is:

                    div.sc-5__accordion-item
                        div.sc-5__accordion-head
                            div.sc-5__accordion-title Where does the sound come from?
                            i.icon-Polygon-1
                        div.sc-5__accordion-description The sound of affirmations comes from the speakers of your smartphone. However, you can use any headphones compatible with your device.

                    div.sc-5__accordion-item
                        div.sc-5__accordion-head
                            div.sc-5__accordion-title Do i need to stay awake in the meantime?
                            i.icon-Polygon-1
                        div.sc-5__accordion-description No. The app is designed so that everything happens while you sleep. You don’t wake up or hear inspirational statements at all. Affirmations interact directly with the subconscious.

                    div.sc-5__accordion-item
                        div.sc-5__accordion-head
                            div.sc-5__accordion-title How does Hypnopedia affect sleep?
                            i.icon-Polygon-1
                        div.sc-5__accordion-description Hypnopedia does not affect sleep in any way, but uses this time to enhance your mental health and motivation. The app adapts to individual biological characteristics and works in tune with your lifestyle.
        div#video.modal(tabindex="-1" role="dialog")
            div.modal-dialog
                div.modal-content
                    a(href="javascript:void(0)" data-dismiss="modal").modal-close &times;
                    iframe(src="https://www.youtube.com/embed/YUp619eJObU?enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
